@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

body {
    background-color: black;
    color: white;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .1em;
    display: flex;
    flex-direction: column;
    margin: 5em 5em;
    color: forestgreen;

}

#changeTimeButton {
  margin-left: 20px;
}

#durationTime {
  text-align: center;
}

table {
  margin: 10px;
}

tr td {
  border: 2px solid forestgreen;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}
#modalClose {
    color: red;
    font-size: 2em;
    align-self: flex-end;
    padding-bottom: 10px;
}

.editTimeButton {
    align-self: flex-end;
}

input {
    background-color: forestgreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
}

button {
    margin-top: 5px;
}

.row {
    display: flex;
    align-items: center;
}

.temperature {
  font-size: 3em !important;
  text-align: center;
}

.modal-content{
    background-color: forestgreen;
    color: black;
}

.modal-title {
  font-size: 2em;
}

.modal-content input {
    background-color: black;
    color: white;
}
.title {
    padding: .5em .5em;
    color: forestgreen;
    font-size: 5em;
    text-align: center;

}
.clock {
    padding: 1em;
    position:relative;
    text-align:center;
    background-color: black;
  }

  .digit {
    width:120px;
    height:200px;
    margin:0 5px;
    position:relative;
    display:inline-block;
  }

  .digit .segment {
    background:#c00;
    border-radius:5px;
    position:absolute;
    opacity:0.15;
    transition:opacity 0.2s;
    -webkit-transition:opacity 0.2s;
    -ms-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s;
  }

  .digit .segment.on, .separator {
    opacity:1;
    box-shadow:0 0 50px rgba(255,0,0,0.7);
    transition:opacity 0s;
    -webkit-transition:opacity 0s;
    -ms-transition:opacity 0s;
    -moz-transition:opacity 0s;
    -o-transition:opacity 0s;
  }

  .separator {
    width:20px;
    height:20px;
    background:#c00;
    border-radius:50%;
    display:inline-block;
    position:relative;
    top:-90px;
  }

  .digit .segment:nth-child(1) {
    top:10px;
    left:20px;
    right:20px;
    height:10px;
  }

  .digit .segment:nth-child(2) {
    top:20px;
    right:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
  }

  .digit .segment:nth-child(3) {
    bottom:20px;
    right:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
  }

  .digit .segment:nth-child(4) {
    bottom:10px;
    right:20px;
    height:10px;
    left:20px;
  }

  .digit .segment:nth-child(5) {
    bottom:20px;
    left:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
  }

  .digit .segment:nth-child(6) {
    top:20px;
    left:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
  }

  .digit .segment:nth-child(7) {
    bottom:95px;
    bottom:calc(50% - 5px);
    right:20px;
    left:20px;
    height:10px;
  }


@media (max-width: 480px) {
  .clock {
    display: none;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
  }
}
