{% extends "layout.html" %}
{% block body %}
{% for zone in zones %}
<div class="row ">
    <h2 class="durationTime"><strong>{{ zone.name }}</strong> duration is set to: {{zone.daily_duration}}
        minutes.</h2>

    <div class="changeTimeButton" style="margin-left: 10px;">
        <a href="/timer" class="btn btn-block btn-lg btn-primary" role="button">Change Time</a></div>
</div>
<div style="padding-top: 5px;" class="row">
    <form action="/watering" method="POST" id="{{zone.zone}}Form">
        <div>
            <h3><strong>Water {{ zone.name }} for a </strong>{{ form.duration.label }}
                <strong>of 1-45 minutes:</strong></h3>
            <div class="col-md-4 duration">
                <div>{{ form.duration(pattern="(^\d{0,2}(\.\d{1,2})?$)") }}</div>
                <button class="btn btn-block btn-lg btn-primary padding-top:5px" id="submit">Submit</button>
                <input type="hidden" name="channel" value="{{ zone.channel }}">
                <input type="hidden" name="name" value="{{ zone.name }}">
            </div>
        </div>



    </form>
</div>
{% endfor %}

<script>


    $(document).ready(function () {

        $("#zone1Form").submit(function (e) {
            let textboxvalue = $('input[name="duration"]').val();
            $("#submit").text("Running")
            $("#submit").prop("disabled", true)
            setTimeout(function () {
                $("#submit").text("Submit")
                $("#submit").prop("disabled", false)
                $('input[name="duration"]').val('')
            }, textboxvalue * 60000); //5 seconds

        });

        $("#zone2Form").submit(function (e) {
            let textboxvalue = $('input[name="duration"]').val();
            $("#submit").text("Running")
            $("#submit").prop("disabled", true)
            setTimeout(function () {
                $("#submit").text("Submit")
                $("#submit").prop("disabled", false)
                $('input[name="duration"]').val('')
            }, textboxvalue * 60000); //5 seconds

        });
    });

</script>
</body>
{% endblock %}