{% extends "layout.html" %}

{% block body %}
<h1>Start Time: {{time}}:00</h1>
<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#editTime">
    Edit Start Time
</button>
<!-- Modal -->
<div class="modal fade" id="editTime" tabindex="-1" role="dialog" aria-labelledby="editWateringTime" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="text-align: center;" id="modalLabel">What Hour Should Watering Start?
                    (0-24)
                </h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <form placeholder="Enter Duration" required="required" action="/editTime" method="POST"
                        class="col-md-8" id="editingTime">
                        <strong>Time:</strong>{{ form.duration(pattern="(^2[0-3]|1[0-9]|[0-9]$)") }}
                        <button class="editTimeButton" id="submit">Submit</button>
                    </form>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="modalClose" aria-hidden="true">&times;close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="timerTable">
    <thead>
        <td>Name</td>
        <td>Zone</td>
        <td>Duration</td>
    </thead>

    {% for row in rows %}
    <tr>
        <td data-label="name:">{{row["name"]}}</td>
        <td data-label="zone:">{{row["zone"]}}</td>
        <td data-label="duration:">{{row['daily_duration']}}</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal"
                data-target="#editZone{{ row.zone }}">
                Edit {{ row["name"] }}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="editZone{{ row.zone }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Edit Options for {{ row["name"]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form placeholder="Enter Duration" required="required" action="/edit" method="POST"
                                id="editingForm{{ row.zone }}">
                                <div><strong>Change duration:
                                    </strong>{{ form.duration(pattern="(^\d{0,2}(\.\d{1,2})?$)") }}</div>
                                <div><button id="submit">Submit</button></div>
                                <input type="hidden" name="channel" value="{{ row.channel }}">
                                <input type="hidden" name="name" value="{{ row.name }}">
                            </form>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<a class="goBackHome" style="font-size: 3em;" href="/">Go back to home page</a>

<script>
    $(document).ready(function () {

        $('#submit').submit(function (e) {
            console.log(e)
            setTimeout(function () {
                $('.modal').modal('hide');
                $('input[name="duration"]').val('');
            }, 500);
        });
    });
</script>
{% endblock %}